{
  "singleQuote": false,
  "trailingComma": "all",
  "semi": false,
  "printWidth": 80,
  "proseWrap": "always",
  "plugins": ["prettier-plugin-ini"],
  "overrides": [
    {
      "files": "*.npmrc",
      "options": {
        "parser": "ini"
      }
    }
  ]
}
